@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1.5rem;

  font-weight: normal;
}

.button-common {
  font-weight: 800;
  background: #41b883;
  color: #0a326d;
  font-size: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}
